In [1]:
import os
os.environ['OPENBLAS_NUM_THREADS'] = '1'
os.environ['OMP_NUM_THREADS'] = '1'

In [2]:
import os

import numpy as np
import pandas as pd
import scipy.sparse as sp

from lightfm import LightFM

/Users/liubovkupriianova/opt/anaconda3/envs/py36/lib/python3.6/site-packages/lightfm/_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn('LightFM was compiled without OpenMP support. Only a single thread will be used.')  # NOQA

In [3]:
!mkdir models

In [46]:
train_target = pd.read_pickle('dataset_v2.uu')

In [43]:
train = pd.read_pickle('user_prod.pkl')

In [51]:
train = pd.DataFrame(train)

In [56]:
items_feats = pd.read_pickle('prod.pkl')

In [53]:
train.columns = ['all_prods']

In [54]:
train_target = train_target.merge(train, on='user_id')

In [58]:
train = train_target

In [59]:
train.head()

,user_id,features,target_ids,all_prods
0,260,"[74.0, 51.0, 90.0, 13487.0, 66893.0, 5469736.0...","[66893, 158, 709]","[66893, 9496, 64615, 5469736, 13487, 10163, 0]"
1,353,"[90.0, 35.0, 9.0, 105764.0, 87886.0, 69372.0, ...","[2321, 2322, 407, 478, 80460, 69669]","[7071972, 97945, 478, 20269, 4443, 584, 57342,..."
2,400,"[84.0, 35.0, 20.0, 3817507.0, 0.0, 94333.0, 11...","[61053, 981, 177, 20286, 20289, 10198]","[94333, 5469728, 3817507, 45459, 407, 61053, 3..."
3,525,"[84.0, 90.0, 20.0, 709.0, 166.0, 55133.0, 75.6...","[709, 25645, 57174]","[709, 7397, 55133, 3817484, 166]"
4,576,"[20.0, 9.0, 119.0, 177.0, 2600.0, 10757.0, 103...","[177, 102]","[2600, 177, 7064842, 60105, 52657, 0, 4443, 10..."

In [60]:
train['num_targets'] = train['all_prods'].apply(lambda x: len(x))

In [61]:
train.head()

,user_id,features,target_ids,all_prods,num_targets
0,260,"[74.0, 51.0, 90.0, 13487.0, 66893.0, 5469736.0...","[66893, 158, 709]","[66893, 9496, 64615, 5469736, 13487, 10163, 0]",7
1,353,"[90.0, 35.0, 9.0, 105764.0, 87886.0, 69372.0, ...","[2321, 2322, 407, 478, 80460, 69669]","[7071972, 97945, 478, 20269, 4443, 584, 57342,...",52
2,400,"[84.0, 35.0, 20.0, 3817507.0, 0.0, 94333.0, 11...","[61053, 981, 177, 20286, 20289, 10198]","[94333, 5469728, 3817507, 45459, 407, 61053, 3...",31
3,525,"[84.0, 90.0, 20.0, 709.0, 166.0, 55133.0, 75.6...","[709, 25645, 57174]","[709, 7397, 55133, 3817484, 166]",5
4,576,"[20.0, 9.0, 119.0, 177.0, 2600.0, 10757.0, 103...","[177, 102]","[2600, 177, 7064842, 60105, 52657, 0, 4443, 10...",29

In [62]:
#train['user_ids'] = train['user_id'].apply(lambda x: x.index)
#list(train['num_targets'])

In [63]:
user_ids = np.array(train.user_id.repeat(list(train['num_targets'])))

In [64]:
user_ids

array([    260,     260,     260, ..., 1131904, 1131904, 1131904])

In [65]:
train.head()

,user_id,features,target_ids,all_prods,num_targets
0,260,"[74.0, 51.0, 90.0, 13487.0, 66893.0, 5469736.0...","[66893, 158, 709]","[66893, 9496, 64615, 5469736, 13487, 10163, 0]",7
1,353,"[90.0, 35.0, 9.0, 105764.0, 87886.0, 69372.0, ...","[2321, 2322, 407, 478, 80460, 69669]","[7071972, 97945, 478, 20269, 4443, 584, 57342,...",52
2,400,"[84.0, 35.0, 20.0, 3817507.0, 0.0, 94333.0, 11...","[61053, 981, 177, 20286, 20289, 10198]","[94333, 5469728, 3817507, 45459, 407, 61053, 3...",31
3,525,"[84.0, 90.0, 20.0, 709.0, 166.0, 55133.0, 75.6...","[709, 25645, 57174]","[709, 7397, 55133, 3817484, 166]",5
4,576,"[20.0, 9.0, 119.0, 177.0, 2600.0, 10757.0, 103...","[177, 102]","[2600, 177, 7064842, 60105, 52657, 0, 4443, 10...",29

In [66]:
products_id_concated = np.concatenate(train.all_prods)

In [69]:
product_ids_unique = np.unique(np.concatenate(train.all_prods))

In [74]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(products_id_concated)

LabelEncoder()

In [75]:
len(le.classes_)

734

In [76]:
products_id_concated = le.transform(products_id_concated)

In [77]:
products_id_concated

array([442, 135, 437, ...,   9,  78,  80])

In [79]:
le1 = preprocessing.LabelEncoder()
le1.fit(user_ids)
user_ids = le1.transform(user_ids)

In [81]:
X_train = sp.coo_matrix(
    (np.ones(len(user_ids)), (user_ids, products_id_concated))
)

In [82]:
X_train

<77700x734 sparse matrix of type '<class 'numpy.float64'>'
	with 2390354 stored elements in COOrdinate format>

In [85]:
model_path = 'models/lightfm_model_all_prods.pkl'

In [89]:
user_features = np.array(train.features.to_list())

In [96]:
user_features[0]

array([7.4000000e+01, 5.1000000e+01, 9.0000000e+01, 1.3487000e+04,
       6.6893000e+04, 5.4697360e+06, 1.6225572e+02, 1.4074091e+02,
       1.2900000e+02, 1.4285715e+00, 5.3452247e-01, 1.0000000e+00],
      dtype=float32)

In [92]:
train.head()

,user_id,features,target_ids,all_prods,num_targets
0,260,"[74.0, 51.0, 90.0, 13487.0, 66893.0, 5469736.0...","[66893, 158, 709]","[66893, 9496, 64615, 5469736, 13487, 10163, 0]",7
1,353,"[90.0, 35.0, 9.0, 105764.0, 87886.0, 69372.0, ...","[2321, 2322, 407, 478, 80460, 69669]","[7071972, 97945, 478, 20269, 4443, 584, 57342,...",52
2,400,"[84.0, 35.0, 20.0, 3817507.0, 0.0, 94333.0, 11...","[61053, 981, 177, 20286, 20289, 10198]","[94333, 5469728, 3817507, 45459, 407, 61053, 3...",31
3,525,"[84.0, 90.0, 20.0, 709.0, 166.0, 55133.0, 75.6...","[709, 25645, 57174]","[709, 7397, 55133, 3817484, 166]",5
4,576,"[20.0, 9.0, 119.0, 177.0, 2600.0, 10757.0, 103...","[177, 102]","[2600, 177, 7064842, 60105, 52657, 0, 4443, 10...",29

In [98]:
sp.csr_matrix(np.nan_to_num(user_features))

<77700x12 sparse matrix of type '<class 'numpy.float32'>'
	with 881013 stored elements in Compressed Sparse Row format>

In [99]:
#, user_features=sp.csr_matrix(np.nan_to_num(user_features))

In [100]:
model = LightFM(no_components=200, loss='warp', learning_rate=0.02, max_sampled=400, random_state=1, user_alpha=1e-05)

    
model.fit_partial(X_train, epochs=10, num_threads=50)
print('fitted')
model.batch_setup(
    item_chunks={0: np.arange(len(product_ids_unique))},
    n_process=50, 
)
res = model.batch_predict(chunk_id=0, user_ids=user_ids, top_k=50)
model.batch_cleanup()

fitted

In [140]:
model.batch_setup(
    item_chunks={0: np.arange(len(product_ids_unique))},
    n_process=50, 
)
res2 = model.batch_predict(chunk_id=0, user_ids=user_ids, top_k=200)
model.batch_cleanup()

In [141]:
res2[0]

(array([  0, 442, 166, 135, 170, 443, 623, 594, 347, 192, 681, 101, 169,
        646, 190, 102,  62,  51, 598, 137, 164, 595, 235,  61, 452,  60,
        100, 643, 104, 349, 599, 275,  77,  75, 246, 162, 288, 368, 660,
        345, 103,  48, 437,  86, 252, 547, 664,  33, 699, 687,  87, 630,
        607, 730, 680,  80, 316, 167, 409, 269,  54, 253, 685, 384, 373,
        254, 338, 136, 455,  81, 294, 474,  53, 168, 117, 464,  95,  76,
        161,  78, 726,  82,  73, 580, 629,  18, 513, 110,  79, 439, 291,
         83, 122, 666, 109, 324,  88, 309, 674, 650, 142, 397, 113, 377,
        413, 236, 155, 658, 422, 635, 140, 692,  34, 639, 198, 374, 108,
        306, 107, 396, 467, 408, 557, 339, 139,  92,  85, 220, 524, 606,
        652, 632, 577, 548, 106, 689,  38, 564, 676, 157, 276, 354, 398,
         94, 444, 115, 633, 141, 143,  74, 237,  97, 146, 120,  23, 145,
        552, 637, 156, 534, 264,   3, 569,  84, 114, 290, 271, 197, 160,
        105, 112, 391, 405, 385, 359, 221, 624, 272, 526, 163, 733, 348,
        315, 421, 404, 232, 411, 138, 165, 554, 426, 651, 553, 686, 614,
        382, 596, 331, 572, 634]),
 array([3.3688562 , 3.1652708 , 3.130927  , 2.5211926 , 2.3414094 ,
        2.334184  , 2.1033783 , 2.0442088 , 2.0389519 , 2.026805  ,
        2.0215263 , 2.0204225 , 1.9095345 , 1.9062245 , 1.8923411 ,
        1.8825829 , 1.8791938 , 1.8749793 , 1.860385  , 1.8130386 ,
        1.8102924 , 1.7910066 , 1.7684748 , 1.6833253 , 1.6713389 ,
        1.6667018 , 1.6463678 , 1.624175  , 1.6192265 , 1.6135626 ,
        1.5791694 , 1.5786933 , 1.5334846 , 1.4772232 , 1.4756539 ,
        1.4674617 , 1.4594104 , 1.4516885 , 1.4462762 , 1.4425086 ,
        1.4382826 , 1.4317365 , 1.4218138 , 1.3769745 , 1.375669  ,
        1.375164  , 1.362688  , 1.3607643 , 1.3530562 , 1.3236976 ,
        1.3232489 , 1.3032784 , 1.3010161 , 1.2330189 , 1.2306933 ,
        1.21224   , 1.2101209 , 1.2074637 , 1.2030007 , 1.1982388 ,
        1.1859673 , 1.1835583 , 1.1788198 , 1.177368  , 1.1704156 ,
        1.0960205 , 1.0937392 , 1.0867707 , 1.0831901 , 1.080639  ,
        1.0709654 , 1.0630469 , 1.0578215 , 1.0555351 , 1.0537075 ,
        1.051842  , 1.0384612 , 1.0381367 , 1.0151013 , 1.012528  ,
        1.0096543 , 1.0000846 , 0.99129075, 0.9908818 , 0.967705  ,
        0.9597412 , 0.92675865, 0.9157543 , 0.9067781 , 0.899167  ,
        0.8964666 , 0.89361554, 0.88418806, 0.88297045, 0.8822119 ,
        0.8697506 , 0.8246517 , 0.8149675 , 0.81073266, 0.8107201 ,
        0.80402035, 0.79908305, 0.7932862 , 0.7916857 , 0.7650973 ,
        0.76171446, 0.75566673, 0.74786204, 0.7443757 , 0.7332247 ,
        0.7282786 , 0.72483367, 0.7240699 , 0.723646  , 0.72336227,
        0.7139827 , 0.71012545, 0.7047018 , 0.70348537, 0.69859505,
        0.6958544 , 0.6925681 , 0.68548197, 0.6811613 , 0.6787303 ,
        0.6628368 , 0.6498887 , 0.64524865, 0.6445273 , 0.6366307 ,
        0.6316667 , 0.62291116, 0.6202334 , 0.61489403, 0.6104418 ,
        0.6095695 , 0.609515  , 0.60396224, 0.6025873 , 0.5898256 ,
        0.58613706, 0.5832951 , 0.5791184 , 0.577176  , 0.57557964,
        0.57289964, 0.5672027 , 0.5658489 , 0.5594122 , 0.5592476 ,
        0.5551656 , 0.55392087, 0.55269045, 0.5477955 , 0.53573906,
        0.52494013, 0.52420074, 0.5141113 , 0.50812066, 0.5008707 ,
        0.5003634 , 0.49695837, 0.49262047, 0.490037  , 0.48560184,
        0.4851041 , 0.48419425, 0.47882643, 0.47450304, 0.47194013,
        0.4718715 , 0.46774358, 0.45692912, 0.4521399 , 0.443399  ,
        0.4284382 , 0.4243573 , 0.40982354, 0.40932614, 0.40209126,
        0.40068626, 0.39151245, 0.38445866, 0.3832355 , 0.36479262,
        0.34542194, 0.34457034, 0.3442316 , 0.34120905, 0.3404436 ,
        0.33479458, 0.3337301 , 0.32773498, 0.32140434, 0.32043487,
        0.309327  , 0.30654314, 0.2938046 , 0.29366294, 0.29190797],
       dtype=float32))

In [182]:
res2_copy[0][0]

array([       0,    66893,    10163,     9496,    10265,    66915,
        3497570,  2586485,    45457,    13487,  5469736,     5634,
          10198,  4033462,    13481,     5642,     1598,      709,
        2833439,     9501,    10095,  2589314,    17145,     1597,
          67281,     1590,     5631,  3818498,     5650,    45459,
        2833446,    22161,     2322,     2305,    19562,    10016,
          25645,    51487,  4592908,    45256,     5649,      655,
          64615,     4443,    20285,    92368,  5044801,      285,
        6005364,  5479493,     4444,  3817487,  3302557,  9152094,
        5469728,     2325,    37061,    10189,    59094,    21827,
            876,    20286,  5479153,    57251,    55130,    20289,
          39692,     9500,    67407,     2544,    26625,    72006,
            821,    10196,     7092,    69372,     5187,     2321,
           9979,     2323,  7324996,     2575,     2271,   100849,
        3817484,      158,    76838,     6347,     2324,    65349,
          26590,     2600,     7401,  5045462,     6345,    37455,
           4517,    36153,  5061260,  4235874,     9607,    57622,
           6369,    56899,    59980,    17314,     9911,  4276378,
          61053,  3817529,     9593,  5481688,      286,  3817547,
          14264,    55133,     6340,    31277,     6339,    57621,
          69669,    58962,    94566,    39726,     9590,     5178,
           4440,    14836,    78247,  3302554,  4274956,  3817507,
         100789,    92418,     6337,  5479797,      455,    95961,
        5062860,     9936,    22194,    45924,    57733,     5182,
          66966,     6371,  3817508,     9598,     9610,     2272,
          17328,     5217,     9733,     7397,      176,     9696,
          93798,  3817542,     9932,    84318,    21545,       50,
          96306,     2628,     6370,    26335,    22035,    14248,
           9959,     6131,     6368,    57342,    58170,    57252,
          47780,    14838,  3497585,    22045,    78672,    10049,
       13550019,    45458,    36666,    60850,    58169,    15986,
          59460,     9571,    10115,    94227,    63034,  4274952,
          94125,  5479458,  3497447,    57199,  2599278,    39489,
          96400,  3817512])

In [142]:
for key in res2.keys():
    #print(type(res2[key][0]))
    res2[key] = list(res2[key])
    res2[key][0] = le.inverse_transform(res2[key][0])

In [145]:
import copy

In [147]:
res2_copy = copy.copy(res2)
dkeys = res2.keys()

In [152]:
import pickle

In [155]:
with open('top200.pkl', 'wb') as fp:
    pickle.dump(res2_copy, fp, pickle.HIGHEST_PROTOCOL)

In [183]:
with open('le_users.pkl', 'wb') as fp:
    pickle.dump(le1, fp, pickle.HIGHEST_PROTOCOL)

In [ ]:
uids = le1.transform(train.user_id)
itids = le.transform(items_feats.product_id)

In [156]:
train['uid_bias'] = model.user_biases[le1.transform(train.user_id)]
items_feats['itid_bias'] = model.item_biases[le.transform(items_feats.product_id)]

In [166]:
user_emb = model.user_embeddings[uids]
item_emb = model.item_embeddings[itids]

In [176]:
train['uid_embedding'] = list(user_emb)

In [178]:
train.head()

,user_id,features,target_ids,all_prods,num_targets,uid_bias,uid_embedding
0,260,"[74.0, 51.0, 90.0, 13487.0, 66893.0, 5469736.0...","[66893, 158, 709]","[66893, 9496, 64615, 5469736, 13487, 10163, 0]",7,-0.310526,"[-0.030893221, 0.022288354, 0.12546153, -0.051..."
1,353,"[90.0, 35.0, 9.0, 105764.0, 87886.0, 69372.0, ...","[2321, 2322, 407, 478, 80460, 69669]","[7071972, 97945, 478, 20269, 4443, 584, 57342,...",52,-0.832477,"[-0.07443411, -0.0976364, 0.009338922, 0.03904..."
2,400,"[84.0, 35.0, 20.0, 3817507.0, 0.0, 94333.0, 11...","[61053, 981, 177, 20286, 20289, 10198]","[94333, 5469728, 3817507, 45459, 407, 61053, 3...",31,-0.628658,"[0.01650102, -0.104130626, -0.013346228, 0.096..."
3,525,"[84.0, 90.0, 20.0, 709.0, 166.0, 55133.0, 75.6...","[709, 25645, 57174]","[709, 7397, 55133, 3817484, 166]",5,-0.257386,"[-0.009750665, -0.070757255, -0.0064769117, 0...."
4,576,"[20.0, 9.0, 119.0, 177.0, 2600.0, 10757.0, 103...","[177, 102]","[2600, 177, 7064842, 60105, 52657, 0, 4443, 10...",29,-0.626924,"[-0.058275014, -0.03513433, 0.07834611, 0.0357..."

In [179]:
train.to_csv('user_feats_lightfm.csv')

In [180]:
items_feats['itid_embedding'] = list(model.item_embeddings[itids])
items_feats.to_csv('item_feats_lightfm.csv')

In [184]:
train.to_pickle('user_feats_lightfm.pkl')

In [185]:
items_feats.to_pickle('item_feats_lightfm.pkl')